.App {
   text-align:center;
   font-size: larger;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 600;
   min-height: 100vh;
   background-color: rgb(40 44 42);
   background-size: cover;
   display: flow-root;

}
