.App {
   text-align:center;
   font-size: larger;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 600;
   min-height: 100vh;
   background-image: url('../public/imagenesUsadas/27353-rick-y-morty.png');
   background-size: cover;
   display: flow-root;

}
